<!--
    Group 1-5
    Patrick Nieves, Isaac Limb, Ken Hall, Sydney Dawson

    Display Single Survey Data
-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Survey Data</title>
   <br>
   <br>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/provoflag.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <form action="/singleRecord" method="GET">
        <!--Search for single record-->
        <label for="singleRecord"><b>Select a record to search for by Main ID:</b></label>
        <input type="number" id="singleRecord" name="singleRecord" required>
        <button type="submit">Search</button>
    </form>
    <form action="/surveyData" method="GET">
        <button type="submit">Return to Full Data</button>
    </form>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/index.html">City of Provo</a>
                <div class="menuBar">
                <style>
                /* Add some basic styling for the dropdown menu */
                    .button-container {
                        margin-right: 25px;
                    }


                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        opacity: 1;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                    .dropdown-content a:hover {
                        background-color: #f1f1f1;
                    }
                </style>
            <!-- Dropdown menu -->
            <div 
            class="dropdown">
                <button class="btn btn-primary button-container">Menu</button>
                <div class="dropdown-content">
                    <a>
                        <form action="/survey" method="GET">
                            <button style="border: none; background: none; color: #222;" type="submit">Survey</button>
                        </form>
                    </a>
                    <a><button style="background: none; border: none; color: #222;" type="button" href="dashboard.html">Dashboard</button></a>
                    <a>
                        <form action="/surveyData" method="GET">
                            <button style="background: none; border: none; color: #222;" type="submit">Data Report</button>
                        </form>
                    </a>
                </div>         
            </div>
        </div>
            </div>
        </nav>
   <label><b>Survey Data</b></label>
   <br><br>
   <div id="survey-container">
   <table style="width: 100%; background-color: lightgray; border: 1px solid black;">
     <thead style="background-color: royalblue; color: white;">
       <tr>
        <!--Set columns in HTML display-->
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Main ID</th>
         <th style="text-align: left;">Timestamp</th>
         <th style="text-align: left;">Age</th>
         <th style="text-align: left;">Gender</th>
         <th style="text-align: left;">Relationship Status</th>
         <th style="text-align: left;">Occupation Status</th>
         <th style="text-align: left;">Use Social Media?</th>
         <th style="text-align: left;">Avg Daily Social Media Time</th>
         <th style="text-align: left;">No Purpose on SM</th>
         <th style="text-align: left;">SM Distracted When Busy</th>
         <th style="text-align: left;">Restless Not Using SM</th>
         <th style="text-align: left;">Distracted Easily</th>
         <th style="text-align: left;">Bothered by Worries</th>
         <th style="text-align: left;">Difficulty Concentrating</th>
         <th style="text-align: left;">SM Comparing to Successful People</th>
         <th style="text-align: left;">Feel About that Comparison</th>
         <th style="text-align: left;">SM Seek Validation</th>
         <th style="text-align: left;">Depressed Frequency</th>
         <th style="text-align: left;">Interest Frequency Fluctuation</th>
         <th style="text-align: left;">Sleep Issues Frequency</th>
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Location</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Affiliation Name</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Platform Name</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <!--Create a dataset for output dynamically-->
      <% for (let iCount = 0; iCount < surveyData.length; iCount++) { %>
         <tr>
          <!--Pulling data out of database-->
           <td><%= surveyData[iCount].respondent_id %></td>
           <td><%= surveyData[iCount].platform_id %></td>
           <td><%= surveyData[iCount].affiliation_id %></td>
           <td><%= surveyData[iCount].main_id %></td>
           <td><%= surveyData[iCount].timestamp %></td>
           <td><%= surveyData[iCount].age %></td>
           <td><%= surveyData[iCount].gender %></td>
           <td><%= surveyData[iCount].relationship_status %></td>
           <td><%= surveyData[iCount].occupation_status %></td>
           <td><%= surveyData[iCount].use_sm %></td>
           <td><%= surveyData[iCount].avg_daily_sm_time %></td>
           <td><%= surveyData[iCount].sm_no_purpose %></td>
           <td><%= surveyData[iCount].sm_distracted_when_busy %></td>
           <td><%= surveyData[iCount].sm_restless_not_using %></td>
           <td><%= surveyData[iCount].distracted_easily %></td>
           <td><%= surveyData[iCount].bothered_by_worries %></td>           <td><%= surveyData[iCount].difficulty_concentrating %></td>
           <td><%= surveyData[iCount].sm_compare_to_successful %></td>
           <td><%= surveyData[iCount].feel_about_compares %></td>
           <td><%= surveyData[iCount].sm_validation_from_features %></td>
           <td><%= surveyData[iCount].depressed_frequency %></td>
           <td><%= surveyData[iCount].interest_fluctuation %></td>
           <td><%= surveyData[iCount].sleep_issues %></td>
           <td><%= surveyData[iCount].respondent_id %></td>
           <td><%= surveyData[iCount].location %></td>
           <td><%= surveyData[iCount].affiliation_id %></td>
           <td><%= surveyData[iCount].affiliation_name %></td>
           <td><%= surveyData[iCount].platform_id %></td>
           <td><%= surveyData[iCount].platform_name %></td>
         </tr>
         <!-- end the for loop below
          no equal because we are not getting data-->
      <% } %>
     </tbody>
   </table>
  </div>
</body>
</html>