<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Survey Data</title>
</head>
<body>
   <label><b>Survey Data:</b></label>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Main ID</th>
         <th style="text-align: left;">Timestamp</th>
         <th style="text-align: left;">Age</th>
         <th style="text-align: left;">Gender</th>
         <th style="text-align: left;">Relationship Status</th>
         <th style="text-align: left;">Occupation Status</th>
         <th style="text-align: left;">Use Social Media?</th>
         <th style="text-align: left;">Avg Daily Social Media Time</th>
         <th style="text-align: left;">No Purpose on SM</th>
         <th style="text-align: left;">SM Distracted When Busy</th>
         <th style="text-align: left;">Restless Not Using SM</th>
         <th style="text-align: left;">Distracted Easily</th>
         <th style="text-align: left;">Bothered by Worries</th>
         <th style="text-align: left;">Difficulty Concentrating</th>
         <th style="text-align: left;">SM Comparing to Successful People</th>
         <th style="text-align: left;">Feel About that Comparison</th>
         <th style="text-align: left;">SM Seek Validation</th>
         <th style="text-align: left;">Depressed Frequency</th>
         <th style="text-align: left;">Interest Frequency Fluctuation</th>
         <th style="text-align: left;">Sleep Issues Frequency</th>
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Location</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Affiliation Name</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Platform Name</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <!--Create a dataset for output dynamically below
        have to use the % for using JS and not getting data-->
      <% for (let iCount = 0; iCount < surveyData.length; iCount++) { %>
         <tr>
          <!--Pulling data back by using %= 
            grab data from the table and must match exactly
            specifying column names from table in the .column_name-->
           <td><%= surveyData[iCount].respondent_ID %></td>
           <td><%= mycountry[iCount].popular_site %></td>
           <td><%= mycountry[iCount].capital %></td>
           <td><%= mycountry[iCount].population %></td>
           <td style="text-align: center;"><%= mycountry[iCount].visited %></td>
           <td style="text-align: center;"><%= mycountry[iCount].covid_level %></td>
           <td style="text-align: center;">
         </tr>
         <!-- end the for loop below
          no equal because we are not getting data-->
      <% } %>
     </tbody>
   </table>
</body>
</html>