<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Survey Data</title>
   <br>
   <br>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/provoflag.ico" />
    <form action="/singleRecord" method="GET">
        <!--Search for single record-->
        <label for="singleRecord"><b>Select a record to search for by Main ID:</b></label>
        <input type="number" id="singleRecord" name="singleRecord" required>
        <button type="submit">Search</button>
    </form>
    <form action="/surveyData" method="GET">
        <button type="submit">Return to Full Data</button>
    </form>
</head>
<body>
   <label><b>Survey Data</b></label>
   <br><br>
   <table style="width: 100%; background-color: lightgray; border: 1px solid black;">
     <thead style="background-color: royalblue; color: white;">
       <tr>
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Main ID</th>
         <th style="text-align: left;">Timestamp</th>
         <th style="text-align: left;">Age</th>
         <th style="text-align: left;">Gender</th>
         <th style="text-align: left;">Relationship Status</th>
         <th style="text-align: left;">Occupation Status</th>
         <th style="text-align: left;">Use Social Media?</th>
         <th style="text-align: left;">Avg Daily Social Media Time</th>
         <th style="text-align: left;">No Purpose on SM</th>
         <th style="text-align: left;">SM Distracted When Busy</th>
         <th style="text-align: left;">Restless Not Using SM</th>
         <th style="text-align: left;">Distracted Easily</th>
         <th style="text-align: left;">Bothered by Worries</th>
         <th style="text-align: left;">Difficulty Concentrating</th>
         <th style="text-align: left;">SM Comparing to Successful People</th>
         <th style="text-align: left;">Feel About that Comparison</th>
         <th style="text-align: left;">SM Seek Validation</th>
         <th style="text-align: left;">Depressed Frequency</th>
         <th style="text-align: left;">Interest Frequency Fluctuation</th>
         <th style="text-align: left;">Sleep Issues Frequency</th>
         <th style="text-align: left;">Respondent ID</th>
         <th style="text-align: left;">Location</th>
         <th style="text-align: left;">Affiliation ID</th>
         <th style="text-align: left;">Affiliation Name</th>
         <th style="text-align: left;">Platform ID</th>
         <th style="text-align: left;">Platform Name</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <!--Create a dataset for output dynamically below
        have to use the % for using JS and not getting data-->
      <% for (let iCount = 0; iCount < surveyData.length; iCount++) { %>
         <tr>
          <!--Pulling data back by using %= 
            grab data from the table and must match exactly
            specifying column names from table in the .column_name-->
           <td><%= surveyData[iCount].respondent_id %></td>
           <td><%= surveyData[iCount].platform_id %></td>
           <td><%= surveyData[iCount].affiliation_id %></td>
           <td><%= surveyData[iCount].main_id %></td>
           <td><%= surveyData[iCount].timestamp %></td>
           <td><%= surveyData[iCount].age %></td>
           <td><%= surveyData[iCount].gender %></td>
           <td><%= surveyData[iCount].relationship_status %></td>
           <td><%= surveyData[iCount].occupation_status %></td>
           <td><%= surveyData[iCount].use_sm %></td>
           <td><%= surveyData[iCount].avg_daily_sm_time %></td>
           <td><%= surveyData[iCount].sm_no_purpose %></td>
           <td><%= surveyData[iCount].sm_distracted_when_busy %></td>
           <td><%= surveyData[iCount].sm_restless_not_using %></td>
           <td><%= surveyData[iCount].distracted_easily %></td>
           <td><%= surveyData[iCount].bothered_by_worries %></td>           <td><%= surveyData[iCount].difficulty_concentrating %></td>
           <td><%= surveyData[iCount].sm_compare_to_successful %></td>
           <td><%= surveyData[iCount].feel_about_compares %></td>
           <td><%= surveyData[iCount].sm_validation_from_features %></td>
           <td><%= surveyData[iCount].depressed_frequency %></td>
           <td><%= surveyData[iCount].interest_fluctuation %></td>
           <td><%= surveyData[iCount].sleep_issues %></td>
           <td><%= surveyData[iCount].respondent_id %></td>
           <td><%= surveyData[iCount].location %></td>
           <td><%= surveyData[iCount].affiliation_id %></td>
           <td><%= surveyData[iCount].affiliation_name %></td>
           <td><%= surveyData[iCount].platform_id %></td>
           <td><%= surveyData[iCount].platform_name %></td>
         </tr>
         <!-- end the for loop below
          no equal because we are not getting data-->
      <% } %>
     </tbody>
   </table>
</body>
</html>